<div class="container">
    <div class="masthead-subheading">Welcome To Our Center!</div>
    <div class="masthead-heading text-uppercase">Training Center</div>
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#">More Information</a>
</div>